<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Atos_AgreementEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mb-az-sql01;initial catalog=Atos_Agreement;persist security info=True;user id=service;password=almalfa12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000"/>
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="webBinding">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding"  closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="24.20:31:23.6470000" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
            <message establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <mexHttpsBinding>
        <binding closeTimeout="0" name="basicHttpBinding" openTimeout="0" receiveTimeout="0" sendTimeout="0" />
      </mexHttpsBinding>
    </bindings>
    <services>
      <service name="AtosContractManagementSOAPServcie.CMService" behaviorConfiguration="diagnose">
        <host>
          <baseAddresses>
            <add baseAddress="httpS://mb-az-sp13.mindbusiness.org/cmservice.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" contract="AtosContractManagementSOAPServcie.ICMService" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" >
          <identity>
            <dns />
          </identity>
        </endpoint>
        <endpoint address="/mex" binding="basicHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="diagnose">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" httpsGetUrl="httpS://mb-az-sp13.mindbusiness.org/cmservice.svc/mex"/>
          <serviceDebug httpsHelpPageUrl="https://mb-az-sp13.mindbusiness.org/cmservice.svc" httpsHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="F:\work\logs\wcflog.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>